* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.title {
  padding: 25px 0;
  height: 100px;
  margin: 50px auto;
}

.pad {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.controls {
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: center;
  gap: 25px;
}

button {
  width: 150px;
  height: 40px;
  font-family: "Roboto";
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}

button:hover, button.active {
  font-weight: bold;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  font-family: "Pacifico";
  font-size: 48px;
}

.row {
  display: flex;
}

.cell {
  height: 15px;
  width: 15px;
}